@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

button {
  outline: none;
  border-radius: none;
  border: none;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jura', sans-serif;
}

.container {
  max-width: 1500px;
  width: 1500px;
  margin: 0 auto;
  padding: 0px 20px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aie {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.jcb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fdrc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.w-50 {
  width: 45%;
}

.ais {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ps-r {
  position: relative !important;
}

.tac {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.aib {
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.miw-0 {
  min-width: 0;
}
.ml-auto{
  margin-left: auto;
}
.mr-auto{
  margin-right: auto;
}
/* mini effect */
.link {
  height: 30px;
  align-items: center;
  color: #fff;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;
  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  /*  Set same font-size and line height  */
  font-size: 15px;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}


/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}